html {
  min-height:100%; /*Needed to make background fullsize*/
}
body {
}
.big-box {
  overflow: hidden;
}

.menu {
  z-index: 1;
  background: blue;
  height: 75vh;
  width: 25vw;
  position: absolute;
  left: 100vw;

}
.nub {
  z-index: 1;
  height: 40px;
  width: 40px;
  position: absolute;
  right: 0;
  top: 12%;
  border-radius: 4px 0px 0px 4px;
}

.display-inline-block {
  display:inline-block;
}
.forecast-holder {
  height: 100%;
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.weather-display-wrapper {
  position: absolute;
  height: 100%;
  display: none;
  justify-content: space-around;
  align-items: center;
}
.active-weather {
  display:flex !important;
}

.menu.active-menu {
  transform: translateX(-100%);
    transition: transform 1s;
}
.date-box {
  height: 15%;
  font-size: 8vmin;
}
.info-holders-box {
  position: relative;
  width: 80%;
  height: 20%;
}
.forecast-holder .info-holders-box {
  height: 40%;
}

.info-holder {
  width: 100%;
  height: 100%;
  display: none;
  font-size: 8vw;
  justify-content: space-around;
  align-items: center;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  position: absolute;
}

.forecast-holder .info-holder {
  font-size: 16px;
  flex-direction: column;
}
.max-temp {
  color:red;
}
.min-temp {
  color:blue;
}

.height-20 {
  height: 20%;
}
.flex-column {
  flex-direction: column;
}
#temp-switch {
  position: absolute;
  right: 0;
  bottom: 0;
}
.icon-holder {
  height: 50%;
}
.icon-holder > svg {
  width: auto;
  height: 100%;
  max-width:100%;
}

#weather-display {
  height: 75vh;
  position: relative;
}
#forecasts-wrapper {
  flex-direction: row;
}

#weather-display-buttons {
  height: 25vh;
  display: flex;
  flex-wrap: wrap;
}
#weather-display-buttons > button {
  width: 50%;
  margin: 0;
  height: 50%;
}
.active-button {
  background-color: #4E98DF;
}

#powered-by-dark-sky, #last-update {
  display:none;
}

/*-------Paletton Color Schemes-------*/
/*All colors are from top to bottom*/
/*
Clear night: #010711, #09162D, #2D4671, #708BBA, #A8BEE5
Partly-cloudy-night:555078, 9A97AE, 736F90, 3E3960, 29234F
Partly-cloudy-day: AD9F6B, 726329, 8A7C4A, D0C498, FBF3D4
Cloudy: 818589, 8C97A1, 72787E, 616971, 525E68
Fog:DAD7DE, 9D91B7, B7AFCA, AAA6B2, 96919F
Wind:584F77, 9B95AD, 756D8F, 41385F, 2D224F
Sleet:8C8B93, 9A97AD,7C7B87, 6B697A, 5D5A6F
Snow:FFFDF6, FFF4C4, FFF8D9, FFFBEC, E9E5D3
Rain: 128FFF, AAD7FF, 7AC0FF, 004A8C, 00396C
Clear-day:F9E24B, FFF9CF, FFEF80, FEDF0E, DBBF00




/*
/*------End Paletton Color Schemes-------*/


/*-------Toggle Slider in CSS----Based on w3school example*/
/* The switch. The box around the slider-------- */
.switch {
  position: relative;
  display:inline-block;
  width:60px;
  height:34px;
}

/* Hide default HTML checkbox */
.switch input {
  display:none;
}

/* The slider */
.slider {
  position:absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
}

.slider::before {
  position:absolute;
  content:"";
  height:26px;
  width:26px;
  left:4px;
  bottom:4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}
/*Not sure how to toggle "focus" at this time. Unknown style */
input:focus + .slider {
  box-shadow: 0 0 10px #2196F3;
}
input:checked + .slider::before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
/*------End Toggle Slider in CSS-------- */

/*----Toggle Slider in JS ----
#temps-slider-holder {
  height: 100px;
  width:200px;
  background-color: red;
}
#temps-slider {
  width:50%;
  height:inherit;
  background-color:gray; 
  transition: transform 1s;
}
.temps-fahr {
    transform: translateX(100px);
}
-----End Toggle Slider in JS*/


@media (min-width: 700px) {
  .forecast-holder {
    justify-content: space-around;
  }
  .forecast-holder .info-holder{
    flex-direction: row;
  }
  .forecast-holder .info-holders-box {
    height: 20%;
  }
}

@media (min-width: 520px) {
  .info-holder {
    font-size: 36px;
  }
}

@media (min-width: 920px) {
  .date-box {
    font-size: 24px;
  }
  .info-holders-box {
    width: 50%;
  }
}