<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link href="/stylesheets/main.css" rel="stylesheet" type="text/css">
    </head>
    <body>
      <div id="location">
      </div>
      <main class="weather-display"><!-- Start #weather-display -->
          <section class="container-fluid weather-holder" id="now-weather"> <!--Start #now-weather -->
              <div class="date-box" id=""> <!--Date holder?-->
              </div>
              <div class="icon-holder" id="">
              </div>
              <div class="info-holders-box well">
                <div class="info-holder fahrenheit" id="">
                  <div class="temps">
                    <div class="air-temp">
                    </div>
                  </div>
                </div>
                <div class="info-holder celsius" id="">
                  <div class="temps">
                    <div class="air-temp">
                    </div>
                  </div>
                </div>
              </div>
          </section> <!--End #now-weather -->
          <section class="container-fluid weather-holder" id="todays-weather">   <!--Start #today-weather -->
              <div class="date-box" id=""> <!--Date holder?-->
              </div>
              <div class="icon-holder" id="">
              </div>
              <div class="info-holders-box well">
                <div class="info-holder fahrenheit" id="">
                  <div class="temps">
                    <div class="max-temp" id="">
                    </div>
                    <div class="min-temp" id="">
                    </div>
                  </div>
                  <div class="precip-percentage" id="">
                  </div>
                </div>
                <div class="info-holder celsius" id="">
                  <div class="temps">
                    <div class="max-temp" id="">
                    </div>
                    <div class="min-temp" id="">
                    </div>
                  </div>
                  <div class="precip-percentage" id="">
                  </div>
                </div>
              </div>
          </section> <!--End #today-weather -->
          <section class="container-fluid weather-holder" id="tomorrows-weather">  <!--Start #tomorrow-weather -->
              <div class="date-box" id=""> <!--Date holder?-->
              </div>
              <div class="icon-holder" id="">
              </div>
              <div class="info-holders-box well">
                <div class="info-holder fahrenheit" id="">
                  <div class="temps">
                    <div class="max-temp" id="">
                    </div>
                    <div class="min-temp" id="">
                    </div>
                  </div>
                  <div class="precip-percentage" id="">
                  </div>
                </div>
                <div class="info-holder celsius" id="">
                  <div class="temps">
                    <div class="max-temp" id="">
                    </div>
                    <div class="min-temp" id="">
                    </div>
                  </div>
                  <div class="precip-percentage" id="">
                  </div>
                </div>
              </div>
          </section><!--End #tomorrow-weather -->
          <section class="container-fluid weather-holder" id="forecasts-wrapper"> <!--Start #1-day-forecast -->
            <div class="col-xs-12" id="">
              <div class="forecast-holder" id="day-one-forecast"> 
                <div class="date-box" id=""> <!--Date holder?-->
                </div>
                <div class="icon-holder" id="">
                </div>
                <div class="info-holders-box well">
                  <div class="info-holder fahrenheit" id="">
                    <div class="temps">
                    <div class="max-temp" id="">
                    </div>
                    <div class="min-temp" id="">
                    </div>
                  </div>
                    <div class="precip-percentage" id="">
                    </div>
                  </div>
                  <div class="info-holder celsius" id="">
                    <div class="temps">
                    <div class="max-temp" id="">
                    </div>
                    <div class="min-temp" id="">
                    </div>
                  </div>
                    <div class="precip-percentage" id="">
                    </div>
                  </div>
                </div>
              </div>
              <div class="forecast-holder" id="day-two-forecast">  <!--Start #2-day-forecast -->
                <div class="date-box" id=""> <!--Date holder?-->
                </div>
                <div class="icon-holder" id="">
                </div>
                <div class="info-holders-box well">
                    <div class="info-holder fahrenheit" id="">
                      <div class="temps">
                    <div class="max-temp" id="">
                    </div>
                    <div class="min-temp" id="">
                    </div>
                  </div>
                      <div class="precip-percentage" id="">
                      </div>
                    </div>
                    <div class="info-holder celsius" id="">
                      <div class="temps">
                        <div class="max-temp" id="">
                        </div>
                        <div class="min-temp" id="">
                        </div>
                      </div>
                      <div class="precip-percentage" id="">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="forecast-holder" id="day-three-forecast">  <!--Start #3-day-forecast -->
                  <div class="date-box" id=""> <!--Date holder?-->
                  </div>
                  <div class="icon-holder" id="">
                  </div>
                  <div class="info-holders-box well">
                    <div class="info-holder fahrenheit" id="">
                      <div class="temps">
                        <div class="max-temp" id="">
                        </div>
                        <div class="min-temp" id="">
                        </div>
                      </div>
                      <div class="precip-percentage" id="">
                      </div>
                    </div>
                    <div class="info-holder celsius" id="">
                      <div class="temps">
                        <div class="max-temp" id="">
                        </div>
                        <div class="min-temp" id="">
                        </div>
                      </div>
                      <div class="precip-percentage" id="">
                      </div>
                    </div>
                </div>
              </div>
                <div class="forecast-holder" id="day-four-forecast">  <!--Start #4-day-forecast -->
                  <div class="date-box" id=""> <!--Date holder?-->
                  </div>
                  <div class="icon-holder" id="">
                  </div>
                  <div class="info-holders-box well">
                    <div class="info-holder fahrenheit" id="">
                      <div class="temps">
                        <div class="max-temp" id="">
                        </div>
                        <div class="min-temp" id="">
                        </div>
                      </div>
                      <div class="precip-percentage" id="">
                      </div>
                    </div>
                    <div class="info-holder celsius" id="">
                      <div class="temps">
                        <div class="max-temp" id="">
                        </div>
                        <div class="min-temp" id="">
                        </div>
                      </div>
                      <div class="precip-percentage" id="">
                      </div>
                    </div>
                  </div>
                </div>
              </div> 
            </section><!--End #forecast-holder -->
          </div> <!-- End .container-fluid -->
        </main> <!--End .weather-display-->
        <section class="" id="weather-display-buttons"> <!--Start .weather-display-buttons -->
            <button type="button" class="btn btn-secondary active-button" data-target="now-weather">Now</button><!--
          --><button type="button" class="btn btn-secondary" data-target="todays-weather">Today</button><!--
          --><button type="button" class="btn btn-secondary" data-target="tomorrows-weather">Tomorrow</button><!--
          --><button type="button" class="btn btn-secondary" data-target="forecasts-wrapper">4Days</button><!--
      --></section> <!--End .weather-display-buttons -->
      <a href="https://darksky.net/poweredby/" id="powered-by-dark-sky">Powered by Dark Sky</a>
      <div id="last-update">
           </div>
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <script src="/javascripts/main.js"></script>
    </body>
</html>