/** CSS Reset is from Bootstrap **/
body {
  max-width: 600px;
  margin: 0 auto;
  position: relative; }

svg {
  width: 100%;
  height: 100%; }

.weather-display {
  height: 75vh; }

.weather-holder {
  display: flex;
  justify-content: center; }

.weather-contents-wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 25vh;
  min-width: 100px; }

/** Position switch at top-left corner **/
#temp-switch {
  position: absolute;
  left: 10px;
  top: 10px; }

.temps {
  text-align: center; }
  .temps div {
    display: inline-block; }

.forecasts-wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 100%; }

.forecast-holder {
  width: 50%; }

.info-holders-box {
  font-size: 16px;
  display: inline-block;
  margin: 0 auto; }

.icon-holder {
  height: 60px;
  max-width: 150px;
  margin: 15px 0;
  width: 100%;
  display: inline-block; }

.forecast-holder .info-holder-box {
  font-size: 12px; }

/** Classes to hide initially unless in active state **/
.weather-holder, .fahrenheit, .celsius {
  display: none; }

/** Styling for buttons **/
#weather-display-buttons button {
  display: inline-block;
  width: 50%; }

/** Classes for toggling display **/
.active {
  display: flex; }

.active-block {
  display: block; }

/** For the buttons that toggle different displays **/
.active-button {
  background-color: #ffeeaa; }

/****** SLIDER CSS **********************/
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px; }

/* Hide default HTML checkbox */
.switch input {
  display: none; }

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s; }

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s; }

input:checked + .slider {
  background-color: #2196F3; }

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3; }

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px); }

/** Media Queries **/
@media screen and (min-width: 600px) {
  body {
    border: 3px solid black; }
  .forecasts-wrapper {
    flex-wrap: nowrap;
    margin-top: 25vh; }
  .forecast-holder .info-holder-box {
    font-size: 16px; } }
